# Stock Market Data Scrapping

In [1]:
# Import the libraries:
import pandas as pd
import yfinance as yf

## APPLE Stock data Scrapper

In [3]:
#Define the ticker keys words:
tickerSymbol = "AAPL"
tickerData = yf.Ticker(tickerSymbol)
tickerData

yfinance.Ticker object <AAPL>

In [9]:
#Data info:
#tickerData.info
#Historical prices of this ticker:
tickerDf = tickerData.history(period="1d", start='2010-01-01', end='2024-08-18')
#Get the last closing price of this ticker:
tickerDf['Close'].iloc[-1]

np.float64(226.0500030517578)

In [10]:
tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.437013,6.469284,6.405345,6.454506,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.472300,6.502158,6.431583,6.465664,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.465664,6.491300,6.356183,6.362819,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.386344,6.393884,6.304912,6.351057,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.342612,6.393884,6.305214,6.393280,447610800,0.0,0.0

In [11]:
print(tickerDf.shape)

(3680, 7)

In [12]:
#Import the libraries:
import pandas as pd
import yfinance as yf
import datetime as dt
from datetime import date, timedelta

## TSLA Stock Market Scrapper

In [20]:
today = date.today()
d1 = today.strftime("%Y-%m-%d")
d1

#Make the d2 with timedelta of 365 periods:
d2 = (today - timedelta(days=365)).strftime("%Y-%m-%d")
d2

start_date = d2
end_date = d1

#Define the ticker keys words:
tickerSymbol = "TSLA"
tickerData = yf.Ticker(tickerSymbol)
tickerData

tickerDf = tickerData.history(period="1d", start = start_date, end = end_date)
#Get the last closing price of this ticker:
#tickerDf['Close'].iloc[-1]

tickerDf.head()
#print(tickerDf.shape)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-08-21 00:00:00-04:00,221.550003,232.130005,220.580002,231.279999,135702700,0.0,0.0
2023-08-22 00:00:00-04:00,240.250000,240.820007,229.550003,233.190002,130597900,0.0,0.0
2023-08-23 00:00:00-04:00,229.339996,238.979996,229.289993,236.860001,101077600,0.0,0.0
2023-08-24 00:00:00-04:00,238.660004,238.919998,228.179993,230.039993,99777400,0.0,0.0
2023-08-25 00:00:00-04:00,231.309998,239.000000,230.350006,238.589996,106612200,0.0,0.0

## Meta data scrapping

In [23]:
today = date.today()
d1 = today.strftime("%Y-%m-%d")
d1

#Make the d2 with timedelta of 365 periods:
d2 = (today - timedelta(days=365)).strftime("%Y-%m-%d")
d2

start_date = d2
end_date = d1

#Define the ticker keys words:
tickerSymbol = "META"
tickerData = yf.Ticker(tickerSymbol)
tickerData

tickerDf = tickerData.history(period="1d", start = start_date, end = end_date)
#Get the last closing price of this ticker:
#tickerDf['Close'].iloc[-1]

tickerDf.head()
#Save the data:
tickerDf.to_csv('Meta.csv')